name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22.x
          cache: yarn
      - run: yarn --frozen-lockfile
      - run: yarn build
      - run: yarn lint
      - run: yarn coverage
      - run: yarn test:ignored-in-coverage
      - run: yarn test:mainnet
        continue-on-error: true
        env:
          NODE_URL: ${{ secrets.MAINNET_ARCHIVE_NODE_URL }}
